<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Profilo</string>
		<key>imagePath</key>
		<string>Settings.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TimeLine</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WorldWall</string>
		<key>imagePath</key>
		<string>Maps.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Photo</string>
		<key>imagePath</key>
		<string>Photos.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Video</string>
		<key>imagePath</key>
		<string>YouTube.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UserList</string>
		<key>imagePath</key>
		<string>Contacts.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Find Friends</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>imagePath</key>
		<string>Safari.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WebSites</string>
		<key>imagePath</key>
		<string>Safari.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FAQ</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Altre App</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
</array>
</plist>
