<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Profilo</string>
		<key>imagePath</key>
		<string>Settings.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FantaTeam</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SocialStatus</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Social Chart</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wall</string>
		<key>imagePath</key>
		<string>Messages.png</string>
	</dict>
</array>
</plist>
